header {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
}

nav ul {
    display: flex;
}

nav ul li {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li a {
    margin: 50px 100px 0px 0px;
    font-size: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

nav ul li h1 {
    padding-right: 300px;
    margin-top: 30px;
    font-size: 50px;
    color: white;
}